[Desktop Entry]
Type=Application
Terminal=true
Name=Hepoco
Icon=/home/youruser/Dokumente/Hepoco/logo.svg
Exec=/home/youruser/Dokumente/Hepoco/hepoco.sh
